<div class="city-select">
    <div class="container-content">
        <div class="title">Выбор города</div>
        <div class="close-cityes">Закрыть</div>
        <div class="cityes-wrap">
            <div class="column">
                <div class="word">А</div>
                <div><a href="#">Абакан</a></div>
                <div><a href="#">Азов</a></div>
                <div><a href="#">Александров</a></div>
                <div><a href="#">Алексин</a></div>
                <div><a href="#">Альметьевск</a></div>
                <div><a href="#">Анапа</a></div>
                <div><a href="#">Ангарск</a></div>
                <div><a href="#">Анжеро-Судженск</a></div>
                <div><a href="#">Апатиты</a></div>
                <div><a href="#">Арзамас</a></div>
                <div><a href="#">Армавир</a></div>
                <div><a href="#">Арсеньев</a></div>
                <div><a href="#">Артем</a></div>
                <div><a href="#">Архангельск</a></div>
                <div><a href="#">Асбест</a></div>
                <div><a href="#">Астрахань</a></div>
                <div><a href="#">Ачинск</a></div>
            </div>
            <div class="column">
                <div class="word">А</div>
                <div><a href="#">Абакан</a></div>
                <div><a href="#">Азов</a></div>
                <div><a href="#">Александров</a></div>
                <div><a href="#">Алексин</a></div>
                <div><a href="#">Альметьевск</a></div>
                <div><a href="#">Анапа</a></div>
                <div><a href="#">Ангарск</a></div>
                <div><a href="#">Анжеро-Судженск</a></div>
                <div><a href="#">Апатиты</a></div>
                <div><a href="#">Арзамас</a></div>
                <div><a href="#">Армавир</a></div>
                <div><a href="#">Арсеньев</a></div>
                <div><a href="#">Артем</a></div>
                <div><a href="#">Архангельск</a></div>
                <div><a href="#">Асбест</a></div>
                <div><a href="#">Астрахань</a></div>
                <div><a href="#">Ачинск</a></div>
            </div>
            <div class="column">
                <div class="word">А</div>
                <div><a href="#">Абакан</a></div>
                <div><a href="#">Азов</a></div>
                <div><a href="#">Александров</a></div>
                <div><a href="#">Алексин</a></div>
                <div><a href="#">Альметьевск</a></div>
                <div><a href="#">Анапа</a></div>
                <div><a href="#">Ангарск</a></div>
                <div><a href="#">Анжеро-Судженск</a></div>
                <div><a href="#">Апатиты</a></div>
                <div><a href="#">Арзамас</a></div>
                <div><a href="#">Армавир</a></div>
                <div><a href="#">Арсеньев</a></div>
                <div><a href="#">Артем</a></div>
                <div><a href="#">Архангельск</a></div>
                <div><a href="#">Асбест</a></div>
                <div><a href="#">Астрахань</a></div>
                <div><a href="#">Ачинск</a></div>
            </div>
            <div class="column">
                <div class="word">А</div>
                <div><a href="#">Абакан</a></div>
                <div><a href="#">Азов</a></div>
                <div><a href="#">Александров</a></div>
                <div><a href="#">Алексин</a></div>
                <div><a href="#">Альметьевск</a></div>
                <div><a href="#">Анапа</a></div>
                <div><a href="#">Ангарск</a></div>
                <div><a href="#">Анжеро-Судженск</a></div>
                <div><a href="#">Апатиты</a></div>
                <div><a href="#">Арзамас</a></div>
                <div><a href="#">Армавир</a></div>
                <div><a href="#">Арсеньев</a></div>
                <div><a href="#">Артем</a></div>
                <div><a href="#">Архангельск</a></div>
                <div><a href="#">Асбест</a></div>
                <div><a href="#">Астрахань</a></div>
                <div><a href="#">Ачинск</a></div>
            </div>
            <div class="column">
                <div class="word">А</div>
                <div><a href="#">Абакан</a></div>
                <div><a href="#">Азов</a></div>
                <div><a href="#">Александров</a></div>
                <div><a href="#">Алексин</a></div>
                <div><a href="#">Альметьевск</a></div>
                <div><a href="#">Анапа</a></div>
                <div><a href="#">Ангарск</a></div>
                <div><a href="#">Анжеро-Судженск</a></div>
                <div><a href="#">Апатиты</a></div>
                <div><a href="#">Арзамас</a></div>
                <div><a href="#">Армавир</a></div>
                <div><a href="#">Арсеньев</a></div>
                <div><a href="#">Артем</a></div>
                <div><a href="#">Архангельск</a></div>
                <div><a href="#">Асбест</a></div>
                <div><a href="#">Астрахань</a></div>
                <div><a href="#">Ачинск</a></div>
            </div>
            <div class="column">
                <div class="word">А</div>
                <div><a href="#">Абакан</a></div>
                <div><a href="#">Азов</a></div>
                <div><a href="#">Александров</a></div>
                <div><a href="#">Алексин</a></div>
                <div><a href="#">Альметьевск</a></div>
                <div><a href="#">Анапа</a></div>
                <div><a href="#">Ангарск</a></div>
                <div><a href="#">Анжеро-Судженск</a></div>
                <div><a href="#">Апатиты</a></div>
                <div><a href="#">Арзамас</a></div>
                <div><a href="#">Армавир</a></div>
                <div><a href="#">Арсеньев</a></div>
                <div><a href="#">Артем</a></div>
                <div><a href="#">Архангельск</a></div>
                <div><a href="#">Асбест</a></div>
                <div><a href="#">Астрахань</a></div>
                <div><a href="#">Ачинск</a></div>
            </div>
        </div>
    </div>
</div>