<div class="filter">
    <div class="filter-button"></div>
    <div class="filter-modal">
        <div class="filter-overlay"></div>
        <div class="filter-modal-box">
            <div class="close-filter"><img src="/img/close-white.png" alt="">Закрыть</div>
            <div class="title">Фильтр</div>
            <ul class="filter-list">
                <li><a href="#">Все категории</a></li>
                <li><a href="#">Клубы</a></li>
                <li><a href="#">Концерты</a></li>
                <li><a href="#">Кино</a></li>
                <li><a href="#">Театры</a></li>
                <li><a href="#">Музеи</a></li>
                <li><a href="#">Выставки</a></li>
                <li><a href="#">Спорт</a></li>
                <li><a href="#">Образование</a></li>
            </ul>
        </div>
    </div>
</div>