<footer>
    <div class="container-content">
	    <div class="copyright">© 2016, Название</div>
	    <a class="feedback" data-fancybox data-src="#feedback" href="javascript:;">Обратная связь</a>
	    <div class="development">Сайт разработан в <a target="_blank" href="http://elgrow.ru/">Elgrow</a>,2017</div>
    </div>
</footer>