<div class="view-images-block-list">
    <div id="image-for-view-1" data-url="/img/last-photos-1-big.jpg"></div>
    <div id="image-for-view-2" data-url="/img/last-photos-2-big.jpg"></div>
    <div id="image-for-view-3" data-url="/img/last-photos-3-big.jpg"></div>
    <div id="image-for-view-4" data-url="/img/last-photos-4.jpg"></div>
    <div id="image-for-view-5" data-url="/img/last-photos-1-big.jpg"></div>
    <div id="image-for-view-6" data-url="/img/last-photos-2-big.jpg"></div>
    <div id="image-for-view-7" data-url="/img/last-photos-3-big.jpg"></div>
    <div id="image-for-view-8" data-url="/img/last-photos-4.jpg"></div>
    <div id="image-for-view-9" data-url="/img/last-photos-1-big.jpg"></div>
    <div id="image-for-view-10" data-url="/img/last-photos-2-big.jpg"></div>
    <div id="image-for-view-11" data-url="/img/last-photos-3-big.jpg"></div>
    <div id="image-for-view-12" data-url="/img/last-photos-4.jpg"></div>
    <div id="image-for-view-13" data-url="/img/last-photos-1-big.jpg"></div>
    <div id="image-for-view-14" data-url="/img/last-photos-2-big.jpg"></div>
    <div id="image-for-view-15" data-url="/img/last-photos-3-big.jpg"></div>
    <div id="image-for-view-16" data-url="/img/last-photos-4.jpg"></div>
    <div id="image-for-view-17" data-url="/img/last-photos-1-big.jpg"></div>
    <div id="image-for-view-18" data-url="/img/last-photos-2-big.jpg"></div>
    <div id="image-for-view-19" data-url="/img/last-photos-3-big.jpg"></div>
    <div id="image-for-view-20" data-url="/img/last-photos-4.jpg"></div>
    <div id="image-for-view-21" data-url="/img/last-photos-1-big.jpg"></div>
    <div id="image-for-view-22" data-url="/img/last-photos-2-big.jpg"></div>
    <div id="image-for-view-23" data-url="/img/last-photos-3-big.jpg"></div>
    <div id="image-for-view-24" data-url="/img/last-photos-4.jpg"></div>
</div>
<div class="gallery-photos-more" id="glr-1">
    <div class="imges-list">
        <div class="close"></div>
        <div class="images-wrap images-block">
            <div class="image-block size-w-6" style="background-image:url(/img/last-photos-1.jpg)">
                <div class="hover-block open-view-image" data-id="image-for-view-1">
		           <div class="btn-type-c">Посмотреть</div>
		        </div>
            </div>
            <div class="image-block size-w-6" style="background-image:url(/img/last-photos-2.jpg)">
                <div class="hover-block open-view-image" data-id="image-for-view-2">
		           <div class="btn-type-c">Посмотреть</div>
		        </div>
            </div>
            <div class="image-block size-w-6" style="background-image:url(/img/last-photos-3.jpg)">
                <div class="hover-block open-view-image" data-id="image-for-view-3">
		           <div class="btn-type-c">Посмотреть</div>
		        </div>
            </div>
            <div class="image-block size-w-6" style="background-image:url(/img/last-photos-4.jpg)">
                <div class="hover-block open-view-image" data-id="image-for-view-4">
		           <div class="btn-type-c">Посмотреть</div>
		        </div>
            </div>
            <div class="image-block size-w-6" style="background-image:url(/img/last-photos-1.jpg)">
                <div class="hover-block open-view-image" data-id="image-for-view-5">
		           <div class="btn-type-c">Посмотреть</div>
		        </div>
            </div>
            <div class="image-block size-w-6" style="background-image:url(/img/last-photos-2.jpg)">
                <div class="hover-block open-view-image" data-id="image-for-view-6">
		           <div class="btn-type-c">Посмотреть</div>
		        </div>
            </div>
            <div class="image-block size-w-6" style="background-image:url(/img/last-photos-3.jpg)">
                <div class="hover-block open-view-image" data-id="image-for-view-7">
		           <div class="btn-type-c">Посмотреть</div>
		        </div>
            </div>
            <div class="image-block size-w-6" style="background-image:url(/img/last-photos-4.jpg)">
                <div class="hover-block open-view-image" data-id="image-for-view-8">
		           <div class="btn-type-c">Посмотреть</div>
		        </div>
            </div>
            <div class="image-block size-w-6" style="background-image:url(/img/last-photos-1.jpg)">
                <div class="hover-block open-view-image" data-id="image-for-view-9">
		           <div class="btn-type-c">Посмотреть</div>
		        </div>
            </div>
            <div class="image-block size-w-6" style="background-image:url(/img/last-photos-2.jpg)">
                <div class="hover-block open-view-image" data-id="image-for-view-10">
		           <div class="btn-type-c">Посмотреть</div>
		        </div>
            </div>
            <div class="image-block size-w-6" style="background-image:url(/img/last-photos-3.jpg)">
                <div class="hover-block open-view-image" data-id="image-for-view-11">
		           <div class="btn-type-c">Посмотреть</div>
		        </div>
            </div>
            <div class="image-block size-w-6" style="background-image:url(/img/last-photos-4.jpg)">
                <div class="hover-block open-view-image" data-id="image-for-view-12">
		           <div class="btn-type-c">Посмотреть</div>
		        </div>
            </div>
            <div class="image-block size-w-6" style="background-image:url(/img/last-photos-1.jpg)">
                <div class="hover-block open-view-image" data-id="image-for-view-13">
		           <div class="btn-type-c">Посмотреть</div>
		        </div>
            </div>
            <div class="image-block size-w-6" style="background-image:url(/img/last-photos-2.jpg)">
                <div class="hover-block open-view-image"data-id="image-for-view-14">
		           <div class="btn-type-c">Посмотреть</div>
		        </div>
            </div>
            <div class="image-block size-w-6" style="background-image:url(/img/last-photos-3.jpg)">
                <div class="hover-block open-view-image" data-id="image-for-view-15">
		           <div class="btn-type-c">Посмотреть</div>
		        </div>
            </div>
            <div class="image-block size-w-6" style="background-image:url(/img/last-photos-4.jpg)">
                <div class="hover-block open-view-image" data-id="image-for-view-16">
		           <div class="btn-type-c">Посмотреть</div>
		        </div>
            </div>
            <div class="image-block size-w-6" style="background-image:url(/img/last-photos-1.jpg)">
                <div class="hover-block open-view-image" data-id="image-for-view-17">
		           <div class="btn-type-c">Посмотреть</div>
		        </div>
            </div>
            <div class="image-block size-w-6" style="background-image:url(/img/last-photos-2.jpg)">
                <div class="hover-block open-view-image" data-id="image-for-view-18">
		           <div class="btn-type-c">Посмотреть</div>
		        </div>
            </div>
            <div class="image-block size-w-6" style="background-image:url(/img/last-photos-3.jpg)">
                <div class="hover-block open-view-image" data-id="image-for-view-19">
		           <div class="btn-type-c">Посмотреть</div>
		        </div>
            </div>
            <div class="image-block size-w-6" style="background-image:url(/img/last-photos-4.jpg)">
                <div class="hover-block open-view-image" data-id="image-for-view-20">
		           <div class="btn-type-c">Посмотреть</div>
		        </div>
            </div>
            <div class="image-block size-w-6" style="background-image:url(/img/last-photos-1.jpg)">
                <div class="hover-block open-view-image" data-id="image-for-view-21">
		           <div class="btn-type-c">Посмотреть</div>
		        </div>
            </div>
            <div class="image-block size-w-6" style="background-image:url(/img/last-photos-2.jpg)">
                <div class="hover-block open-view-image" data-id="image-for-view-22">
		           <div class="btn-type-c">Посмотреть</div>
		        </div>
            </div>
            <div class="image-block size-w-6" style="background-image:url(/img/last-photos-3.jpg)">
                <div class="hover-block open-view-image" data-id="image-for-view-23">
		           <div class="btn-type-c">Посмотреть</div>
		        </div>
            </div>
            <div class="image-block size-w-6" style="background-image:url(/img/last-photos-4.jpg)">
                <div class="hover-block open-view-image" data-id="image-for-view-24">
		           <div class="btn-type-c">Посмотреть</div>
		        </div>
            </div>
            <div class="clear"></div>
            <div class="center">
                <div class="btn-type-c text-dec-none">Посмотреть еще</div>
            </div>
        </div>
    </div>
</div>