<header class="header">
    <div class="headline-block">
	    <div class="container-content">
	        <div class="button-hamburger"><div></div><div></div><div></div></div>
	    	<a href="/" class="logo"><img src="/img/logo.png" alt=""></a>
	    	<div class="city"><span>Екатеринбург</span></div>
	    	<div class="account">
	    	    <a href="/auth.html" class="auth">Войти</a>
	    	</div>
	    	<nav class="nav">
	    		<a href="/institutions.html">Заведения</a>
	    		<a href="/users.html">Пользователи</a>
                <a href="/map.html">Карта заведений</a>
	    	</nav>
	    </div>
	</div>
	<div class="mobile-block">
        <div class="container-content">
	        <div class="nav">
		    	<a href="/institutions.html">Заведения</a>
	    		<a href="/users.html">Пользователи</a>
                <a href="/map.html">Карта заведений</a>
		    </div>
		    <div class="city"><span>Екатеринбург</span></div>
        </div>
	</div>
	<div class="mobile-overlay"></div>
</header>
