<header class="header auth-header">
    <div class="headline-block">
	    <div class="container-content">
	        <div class="button-hamburger"><div></div><div></div><div></div></div>
	    	<a href="/" class="logo"><img src="/img/logo.png" alt=""></a>
	    	<div class="city"><span>Екатеринбург</span></div>
	    	<button class="account user-login">
	    	    <div class="user-icon" style="background-image:url(/img/user-icon.jpg);">
	    	        <div class="user-menu">
	    	            <a href="/user-item-auth.html">Мой профиль</a>
	    	            <a href="/settings.html">Настройки</a>
	    	            <a href="/my-place.html">Мое заведение</a>
	    	            <a href="/institutions-managment.html">Управление заведениями</a>
	    	            <a href="/billboard-management.html">Управление афишами</a>
	    	            <a href="/gallery-control.html">Управление галереями</a>
	    	            <a href="/reklama-managment.html">Реклама</a>
	    	            <a href="#">Оплата фотоотчетов</a>
	    	            
	    	            <a href="#">Выйти</a>
	    	        </div>
	    	    </div>
	    	    <a class="username">Ольга</a>
	    	</button>
	    	<nav class="nav">
	    	    <a href="/gallery.html">Галерея</a>
		    	<a href="/developments.html">События</a>
	    		<a href="/institutions.html">Заведения</a>
	    		<a href="/users.html">Пользователи</a>
                <a href="/map.html">Карта заведений</a>
	    	</nav>
	    </div>
	</div>
	<div class="mobile-block">
        <div class="container-content">
	        <div class="nav">
		    	<a href="/gallery.html">Галерея</a>
		    	<a href="/developments.html">События</a>
	    		<a href="/institutions.html">Заведения</a>
	    		<a href="/users.html">Пользователи</a>
                <a href="/map.html">Карта заведений</a>
		    </div>
		    <div class="city"><span>Екатеринбург</span></div>
        </div>
	</div>
	<div class="mobile-overlay"></div>
</header>
