<header class="header">
    <div class="headline-block">
	    <div class="container-content">
	    	<a href="/" class="logo"><img src="/img/logo.png" alt=""></a>
	    	<div class="account">
	    	    <a href="#" class="close">Закрыть</a>
	    	</div>
	    </div>
	</div>
</header>
