<div class="filter">
    <div class="filter-button info-button"></div>
    <div class="filter-modal">
        <div class="filter-overlay"></div>
        <div class="filter-modal-box">
            <div class="close-filter"><img src="/img/close-white.png" alt="">Закрыть</div>
            <div class="title">Инфо</div>
            <div class="info-box">
                <div>
                    <a href="#" class="user-icon-box" style="background-image:url(/img/user-icon2.jpg);"></a>
                    <div class="nameNickUser">
		                <div class="name-user">Фотограф</div>
		                <a href="#" class="nickname">Гарина Екатерина</a>
		            </div>
                </div>
                <div class="clear"></div>
                <br>
                <div>
                    <div class="title">Детали</div>
                    <table class="table-info">
                        <tr>
                            <td>Заведение:</td>
                            <td><a target="_blank" href="#">Elgrow</a></td>
                        </tr>
                        <tr>
                            <td>Дата съемки:</td>
                            <td>17 ноября</td>
                        </tr>
                        <tr>
                            <td>Количество просмотров:</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Количество комментариев:</td>
                            <td>1</td>
                        </tr>
                    </table>
                </div>
                <div class="clear"></div>
                <br>
                <div>
                    <div class="title">Поделиться</div>
                    <div class="socials share-buttons">
	                    <a target="_blank" href="#" data-type="vk" class="goodshare vk"></a>
	                    <a target="_blank" href="#" data-type="fb" class="goodshare fb"></a>
	                    <a target="_blank" href="#" data-type="gp" class="goodshare gp"></a>
	                </div>
                </div>
            </div>
        </div>
    </div>
</div>