<div class="filter two-button-fix gallery-item-buttons">
    <div class="filter-button info-button" data-id="filt-mod-1"></div>
    <div class="filter-button edit-button" data-id="filt-mod-2"></div>
    <div class="filter-modal" id="filt-mod-1">
        <div class="filter-overlay"></div>
        <div class="filter-modal-box">
            <div class="close-filter"><img src="/img/close-white.png" alt="">Закрыть</div>
            <div class="title">Инфо</div>
            <div class="info-box">
                <div>
                    <a href="#" class="user-icon-box" style="background-image:url(/img/user-icon2.jpg);"></a>
                    <div class="nameNickUser">
		                <div class="name-user">Фотограф</div>
		                <a href="#" class="nickname">Гарина Екатерина</a>
		            </div>
                </div>
                <div class="clear"></div>
                <br>
                <div>
                    <div class="title">Детали</div>
                    <table class="table-info">
                        <tr>
                            <td>Заведение:</td>
                            <td><a target="_blank" href="#">Elgrow</a></td>
                        </tr>
                        <tr>
                            <td>Дата съемки:</td>
                            <td>17 ноября</td>
                        </tr>
                        <tr>
                            <td>Количество просмотров:</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Количество комментариев:</td>
                            <td>1</td>
                        </tr>
                    </table>
                </div>
                <div class="clear"></div>
                <br>
                <div>
                    <div class="title">Поделиться</div>
                    <div class="socials share-buttons">
	                    <a target="_blank" href="#" data-type="vk" class="goodshare vk"></a>
	                    <a target="_blank" href="#" data-type="fb" class="goodshare fb"></a>
	                    <a target="_blank" href="#" data-type="gp" class="goodshare gp"></a>
	                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="filter-modal" id="filt-mod-2">
        <div class="filter-overlay"></div>
        <div class="filter-modal-box">
             <div class="modal-edit-gallery-content">
                 <div class="close-filter"><img src="/img/close-white.png" alt="">Закрыть</div>
                 <div class="title">Редактировать</div>
                 <div class="info-box">
                     <div class="edit-page-buttons">
                         <div data-editblock="edblock-1">
                             <img src="/img/edit-gallery-1.png" alt="">
                             <span>Фото / Видео</span>
                         </div>
                         <div data-editblock="edblock-2">
                             <img src="/img/edit-gallery-2.png" alt="">
                             <span>Редактировать / добавить текст</span>
                         </div>
                         <div data-editblock="edblock-3">
                             <img src="/img/edit-gallery-3.png" alt="">
                             <span>Иконки</span>
                         </div>
                     </div>
                 </div>
             </div>
            <div class="edit-menu-modals">
                <div id="edblock-1">
                    <span class="close-this"><img src="/img/back-arrow.png" alt=""></span><span class="title">Фото</span>
                    
                </div>
                <div id="edblock-2">
                    <span class="close-this"><img src="/img/back-arrow.png" alt=""></span><span class="title">Текст</span>
                    <div class="clear"></div>
                    <br>
                    <div class="info-box">
                        <div>
                            <p>Выравнивание</p>
                            <table class="controls-button-gallery aligment-text">
                                <tr>
                                    <td><i></i></td>
                                    <td class="active"><i></i></td>
                                    <td><i></i></td>
                                    <td><i></i></td>
                                </tr>
                            </table>
                            <table class="controls-button-gallery">
                                <tr>
                                    <td>Сверху</td>
                                    <td class="active">По центру</td>
                                    <td>Снизу</td>
                                </tr>
                            </table>
                        </div>
                        <div>
                            <div class="lc-inputs">
                                <div class="input">
		                            <label>
		                                <p>Размер заголовка</p>
                                        <div class="input-wrap">
		                                    <select class="selectric selectric-dark">
		                                        <option value="1">30 pt</option>
		                                        <option value="2">28 pt</option>
		                                        <option value="3">26 pt</option>
		                                    </select>
                                        </div>
		                            </label>
		                        </div>
                                <div class="input">
		                            <label>
		                                <p>Размер текста</p>
                                        <div class="input-wrap">
		                                    <select class="selectric selectric-dark">
                                                <option value="3">16 pt</option>
		                                        <option value="1" selected>14 pt</option>
		                                        <option value="2">12 pt</option>
		                                    </select>
                                        </div>
		                            </label>
		                        </div>
                               <div class="clear"></div>
                            </div>
                        </div>
                        <div>
                            <br><p>Цвет текста</p>
                            <div class="select-colors">
                                <div class="active" style="background-color:black;"></div>
                                <div style="background-color:white;"></div>
                            </div>
                        </div>
                        <div>
                            <p>Цвет фона</p>
                            <div class="select-colors">
                                <div style="background-color:black;"></div>
                                <div style="background-color:white;"></div>
                                <div class="active" style="background-color:#003372;"></div>
                            </div>
                        </div>
                        <br><br>
                        <div class="btn-type-c">Сохранить</div>
                        <div class="button-remove"></div>
                    </div>
                </div>
                <div id="edblock-3">
                    <span class="close-this"><img src="/img/back-arrow.png" alt=""></span><span class="title">Иконки</span>
                    <div class="info-box">
                        <br>
                        <div>
                            <p>Выбранная инконка</p>
                            <div class="selected-icon" style="background-image:url(/img/ion-gal-contr.png)"></div>
                        </div>
                        <br>
                        <div>
                            <p>Цвет иконки</p>
                            <div class="select-colors">
                                <div style="background-color:black;"></div>
                                <div style="background-color:white;"></div>
                                <div class="active" style="background-color:#003372;"></div>
                            </div>
                        </div>
                        <br>
                        <div>
                            <div class="input-search input">
                                <form action="">
                                    <input type="text" placeholder="Введите свой запрос...">
                                </form>
                            </div>
                        </div>
                        <div class="icon-select-list">
                            <div style="background-image:url(/img/ion-gal-contr.png)"></div>
                            <div style="background-image:url(/img/ion-gal-contr.png)"></div>
                            <div style="background-image:url(/img/ion-gal-contr.png)"></div>
                            <div style="background-image:url(/img/ion-gal-contr.png)"></div>
                            <div style="background-image:url(/img/ion-gal-contr.png)"></div>
                            <div style="background-image:url(/img/ion-gal-contr.png)"></div>
                            <div style="background-image:url(/img/ion-gal-contr.png)"></div>
                            <div style="background-image:url(/img/ion-gal-contr.png)"></div>
                            <div style="background-image:url(/img/ion-gal-contr.png)"></div>
                            <div style="background-image:url(/img/ion-gal-contr.png)"></div>
                            <div style="background-image:url(/img/ion-gal-contr.png)"></div>
                            <div style="background-image:url(/img/ion-gal-contr.png)"></div>
                        </div>
                        <br><br>
                        <div class="btn-type-c">Сохранить</div>
                        <div class="button-remove"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>