<div class="modal" id="feedback">
     <div class="black-wrap">
        <div class="modal-inner">
             <div class="title">Обратная связь</div>
             <select id="feedback-city" class="selectric selectric-dark">
                 <option value="1">Екатеринбург</option>
                 <option value="1">Москва</option>
                 <option value="1">Санкт-Петербург</option>
             </select>
         </div>
    </div>
    <div class="modal-inner">
        <div class="contacts-modal">
            <div>
                <i><img src="/img/icon-location.png" alt=""></i>
                <span>г.Екатеринбург, ул. Ленина 50б, офис 526</span>
            </div>
            <div>
                <i><img src="/img/icon-phone.png" alt=""></i>
                <span>+7 (343) 251-21-55</span>
            </div>
            <div>
                <i><img src="/img/icon-mail.png" alt=""></i>
                <span>info@elgrow.ru</span>
            </div>
            <div class="socials">
                <a target="_blank" href="#" class="vk"></a>
                <a target="_blank" href="#" class="fb"></a>
                <a target="_blank" href="#" class="gp"></a>
            </div>
            <a data-fancybox data-src="#textmodal" href="javascript:;">Спасибо modal</a>
        </div>
    </div>
</div>
<div class="modal close-black" id="textmodal"> 
    <div class="fancy-close close-modal"></div> 
    <div class="modal-inner">
        <div class="title">Спасибо</div>
        <div class="text">
            <p>Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов.</p>
        </div>
        <div class="center">
            <div class="btn-type-c btn-black close-modal">Закрыть</div>
        </div>
    </div>
</div>
<div class="modal close-black" id="paid-options"> 
    <div class="fancy-close close-modal"></div> 
    <div class="modal-inner">
        <div class="title">Предлагаем попробовать<br> платные опции</div>
        <div class="text">
            <p>Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов.</p>
        </div>
        <br>
        <div class="center">
            <a href="/paid-options.html" class="btn-type-c btn-black">Попробовать</a>
        </div>
    </div>
</div>
<div class="modal" id="add-review">
     <div class="black-wrap">
        <div class="modal-inner">
             <div class="title">Оставить отзыв о заведении</div>
             <div class="review-company">
                 <div class="logo-company" style="background-image:url(/img/logo-elgrow.jpg)"></div>
                 <div class="name">Elgrow</div>
                 <div class="text-r"><span>Екатерина,</span> нам очень важно ваше мнение о нас</div>
             </div>
         </div>
    </div>
    <div class="modal-inner">
            <div>
                <div class="title-d">Оцените заведение по 10 бальной шкале</div>
                <div class="set-stars stars-rating">
                    <input type="hidden" class="rating-value" value="0">
                    <div class="stars">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="title-d">Отзыв</div>
                <div class="input">
                    <textarea placeholder="Текст отзыва..."></textarea>
                </div>
            </div>
            <div class="center">
                <div class="btn-type-c btn-black">Отправить</div>
            </div>
    </div>
</div>
<div class="modal no-padding-bottom" id="add-review-guest">
     <div class="black-wrap">
        <div class="modal-inner">
             <div class="title">Оставить отзыв о заведении</div>
             <div class="review-company">
                 <div class="logo-company" style="background-image:url(/img/logo-elgrow.jpg)"></div>
                 <div class="name">Elgrow</div>
                 <div class="text-r">Чтобы оставить отзыв, <span><a href="/auth.html">авторизуйтесь</a></span></div>
             </div>
         </div>
    </div>
</div>


<div class="modal" id="upload-photo-user">
     <div id="step-photo-1">
         <div class="black-wrap">
            <div class="modal-inner">
                 <div class="title">Загрузка новой фотографии</div>
                 <p class="center">Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов.</p>
             </div>
        </div>
        <div class="modal-inner">
            <div class="add-photo-area" id="userphoto">
                <div class="title-s">Фотография</div>
                <div class="areafile">
                    <label>
                        <input type="file" id="imgInp">
                        <span class="circle">+</span>
                        <span class="text-uploadfile">Добавить фото</span>
                    </label>
                </div>
            </div>
             <a id="next-step-photo" class="open-modal-miniature"  data-fancybox data-src="#upload-photo-user-miniature" href="javascript:;"></a>
        </div>
    </div>
</div>
<div class="modal" id="upload-photo-user-miniature">
     <div class="black-wrap">
        <div class="modal-inner">
             <div class="title">Фотография на Вашей странице</div>
             <p class="center">Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов.</p>
         </div>
    </div>
    <div class="modal-inner">
        <div class="image-area-miniature">
            <img src="/img/user-icon-big.jpg" alt="">
        </div>
        <div class="btn-type-c btn-black">Сохранить</div>
        <div class="clear"></div>
        <a href="#">Вернуться назад</a>
    </div>
</div>
<div class="modal" id="edit-user-miniature">
     <div class="black-wrap">
        <div class="modal-inner">
             <div class="title">Фотография на Вашей странице</div>
             <p class="center">Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов.</p>
         </div>
    </div>
    <div class="modal-inner">
        <div class="image-area-miniature">
            <img src="/img/user-icon.jpg" alt="">
        </div>
        <div class="btn-type-c btn-black">Сохранить</div>
        <br><br>
    </div>
</div>