<div class="view-image-modal">
   <div class="image-container uk-flex uk-flex-middle">
       <div class="loader">
          <div class="dot dot1"></div>
          <div class="dot dot2"></div>
          <div class="dot dot3"></div>
          <div class="dot dot4"></div>
        </div>
       <img alt="">
   </div>
    <div class="container-content viewers-container">
        <div class="left">
            <a href="" download class="button-type-b download-image">Скачать</a>
            <a href="#" class="button-type-b people-lable">Отметить человека</a>
        </div>
        <div class="right">
            <div class="socials share-buttons">
                <div class="likes"><i></i><span>10</span></div>
                <span class="share-title">Поделиться: </span>
	            <a target="_blank" href="#" data-type="vk" class="goodshare vk"></a>
	            <a target="_blank" href="#" data-type="fb" class="goodshare fb"></a>
	            <a target="_blank" href="#" data-type="gp" class="goodshare gp"></a>
	        </div>
        </div>
    </div>
    
</div>
<div class="bottom-absolute-container">
        <div class="controls white-arrows">
            <div class="owl-nav">
                <div class="owl-prev"></div>
                <div class="owl-next"></div>
            </div>
        </div>
        <div class="people-lables">
            
        </div>
    </div>
<div class="container-content peoplelink-container">
    <div class="box-peoplelink">
        <div class="search-peoples">
            <div class="input">
                <input type="text" placeholder="Введите свой запрос">
            </div>
        </div>
        <div class="search-results">
            <div class="box-searches-users">
                <div class="result-item" data-username="Гарина Екатерина" data-userid="1">
                    <div class="user-icon-box" style="background-image:url(/img/user-icon2.jpg);"></div>
              <div class="nameNickUser">
                  <div class="name-user">Гарина Екатерина</div>
                  <div class="nickname">@ReyHelen</div>
              </div>
                </div>
                <div class="result-item" data-username="Галкина Валерия" data-userid="2">
                    <div class="user-icon-box" style="background-image:url(/img/user-icon2.jpg);"></div>
              <div class="nameNickUser">
                  <div class="name-user">Галкина Валерия</div>
                  <div class="nickname">@GalkinVal</div>
              </div>
                </div>
            </div>
            <a href="#" class="people-label-close">Отменить</a>
        </div>
    </div>
</div>