@media screen and (min-width:1520px){
    .content-inst-element .item-event{
        width:18%;
    }
}
@media screen and (max-width:1520px){
    .content-inst-element .body-events .item-event:nth-child(5){
        display: none;
    }
}
@media screen and (min-width:1101px){
    .instit-list .instit-item:nth-child(4n+4){
        .tooltip-2{
            .tooltip-content{
                left: auto;
                right: -17px;
                &:after{
                    left: auto;
                    right: 21px;
                }
            }
        }
    }
}
@media screen and (max-width:1320px){
    .lc-page .bg-left-col{
        width: 450px;
    }
    .user-right-content.lc-right{
        margin-left:450px;
    }
    .my-place-page-nav .right.subscribe-ist {
        float: none;
        text-align: center;
        margin-top: -10px;
        margin-bottom: 15px;
    }
}
@media screen and (min-width:1301px){
    .users-list-page .user-list-item{
        &:nth-child(4n+3), &:nth-child(4n+4){
            .name-user{
                color:white;
                i{
                    background: url(/img/photo-icon-white.png);
                }
            }
            &:hover{
                background: white;
                .name-user{
                    color:black;
                    i{
                        background: url(/img/photo-icon.png);
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1300px){
    .inputs-group-2{
        table{
            display: block;
            tr{
                display: block;
                margin-bottom: 30px;
                td{
                    display: inline-block;
                    &:nth-child(1){
                        width:100%;
                    }
                    &:nth-child(5){
                        width:100%;
                        text-align:left;
                        padding-top: 10px;
                    }
                    &:nth-child(6){
                        width:100%;
                        text-align:left;
                        padding-top: 10px;
                    }
                }
            }
        }
    }
    .users-list-page{
        .user-list-item{
            width:33.3333%;
            padding:10px;
            &:nth-child(3n+1){
                clear: both;
            }
        }
    }
    .two-colors-userpage{
        background:white;
        &:before{
            display: none;
        }
    }
    body{
        padding-top: 52px;
    }
    header{
        position: fixed;
        top:0;
        left:0;
        right:0;
        z-index: 10;
        padding-top: 0px;
        padding-bottom: 0px;
        .headline-block{
            background: rgba(0,0,0,0.85);
            padding-top: 18px;
            padding-bottom: 14px;
        }
        .mobile-overlay{
            position: absolute;
            top:52px;
            bottom:0;
            right:0;
            left:0;
        }
        .mobile-block{
            position: absolute;
            top: 52px;
            left:0;
            z-index: 4;
            bottom: 0;
            width: 300px;
            background: rgba(0, 0, 0, 0.66);
            overflow: auto;
            transition: all 0.3s;
            padding: 20px 0;
            .city{
                display: block !important;
                font-size: 14px;
                padding:3px 0;
                padding-right: 8px;
            }
            .nav{
                a{
                    display: block;
                    color:white;
                    text-decoration: none;
                    font-size: 15px;
                    padding:4px 0;
                }
            }
        }
        &.active{
            bottom:0;
            .mobile-block {
                 display: block; 
            }
        }
        .button-hamburger {
            float: left;
            cursor: pointer;
            margin-top: -13px;
            margin-right: 17px;
            margin-bottom: -14px;
        }
        .header nav{
            display: none;
        }
        .button-hamburger>div{
            width: 35px;
            height: 3px;
            background-color: #fff;
            margin: 8px 0;
            transition: .2s;
        }
        &.active .button-hamburger>div:nth-child(1) {
            transform: rotate(-45deg) translate(-8px,7px);
        }
        &.active .button-hamburger>div:nth-child(2) {
            opacity: 0;
        }
        &.active .button-hamburger>div:nth-child(3) {
                transform: rotate(45deg) translate(-8px,-8px);
        }
        nav{
            display: none;
        }
        .account a{
            color:white;
        }
        .account a.username{
            color:white;
            &:after{
                border-top:3px solid white;
            }
        }
    }
    .user-right-content{
        .images-block .image-block .hover-block .btn-type-c{
            opacity: 0;
            top:0;
            left:0;
            right:0;
            bottom:0;
            width:auto;
            height:auto;
            transform: translate(0%,0%);
            -moz-transform: translate(0%,0%);
            -webkit-transform: translate(0%,0%);
            -o-transform: translate(0%,0%);
            -ms-transform: translate(0%,0%);
        }
    }
    
}
@media screen and (max-width:1200px){
    .afisha-photo{
        .label-info{
            display: none;
        }
    }
}
@media screen and (max-width:1170px){
    .user-list-control .users-list-page .user-list-item{
        width:100%;
        border-bottom: 1px dashed #555;
        padding-right: 40px;
    }
    .user-list-control .users-list-page .user-list-item .remove-user{
        opacity: 1;
        visibility: visible;
       top:27px;
        right:0;
        width:30px;
        height:30px;
        &:before{
            
        }
    }
    .afisha-photos{
        &>.afisha-photo{
            width:96%;
            margin-bottom: 15px;
        }
    }
    .afisha-lc-inputs.lc-inputs{
        margin:0;
        .input{
            width:100%;
        }
    }
}
@media screen and (max-width:1150px){
    .add-photo-area.place-logo{
        clear: both;
        margin-left:0;
    }
    .inputs-group-1{
        tr{
            td{
                &:nth-child(2){
                    padding-right: 10px;
                }
            }
        }
    }
    
}
@media screen and (max-width:1100px){
    .paddings-controls-page-element.have-selectors{
        .right, .left{
            width:100%;
            clear: both;
            float:none;
        }
    }
    .reklama-page-control{
        .right, .left{
            width:100%;
            float:none;
            &.right{
                .paddings-controls-page-element{
                    padding-top:0;
                    margin-top: -10px;
                }
            }
            &.left{
                .paddings-controls-page-element{
                    padding-bottom:0;
                }
            }
        }
    }
    .paid-options-content{
        .btn-type-c.min-width{
            width: 100%;
            min-width: inherit;
        }
    }
    .two-half .form-upload{
        .right, .left{
            float:none;
            clear: both;
        }
    }
    .lc-inputs .input.input-w100 {
        width: 98%;
    }
    .lc-page .user-right-content .user-content-box{
       padding: 20px; 
    }
    .lc-page .user-right-content{
        padding-top: 22px;
    }
    .lc-inputs .input{
        margin: 0 1%;
    }
    .lc-inputs{
        margin:0 -1%;
    }
    .lc-page .bg-left-col{
        width:420px;
    }
    .user-right-content.lc-right{
        margin-left:420px;
    }
    .gallery-photos-more .images-block .image-block.size-w-6{
        width: 20%;
        padding-top: 14%;
        .open-view-image{
            position: absolute;
            opacity: 0;
            top:0;
            right:0;
            bottom:0;
            left:0;
            transform: translate(0%,0%);
            -moz-transform: translate(0%,0%);
            -webkit-transform: translate(0%,0%);
            -o-transform: translate(0%,0%);
            -ms-transform: translate(0%,0%);
        }
    }
    .afisha-user .last-events .body-events{
        width:180px;
        margin-bottom: 20px;
    }
    .afisha-user .last-events .text-afisha-user{
        padding-left:0;
    }
    .inst-item__left{
        width: 237px;
    }
    .inst-item__left .company-logo-name .logo-company{
        width: 40px;
        height:40px;
    }
    .inst-item__left .params{
        padding-right:0;
    }
    .inst-item__right{
        padding-left:267px;
    }
    .inst-item{
        padding: 37px 25px 0;
    }
    .instit-list .instit-item{
        .tooltip-2{
            .tooltip-content{
                display: none;
            }
        }
    }
    .blocks-index{
        .blocks-col>div{
            h2{
                font-size: 25px;
                margin-bottom: 0;
            }
            .btn-type-c{
                padding: 10px 16px;
            }
        }
    }
    .images-block .image-block .user-text-image a.title{
        font-size: 15px;
        line-height: 16px;
        height:39px;
        overflow: hidden;
    }
    .developments-item .right-devel .container-content-devel .users-list .user-list-item .user-icon-box{
        width:50px;
        height:50px;
    }
    .developments-item .right-devel .container-content-devel .users-list .user-list-item .nameNickUser {
        padding-left: 61px;
        padding-top: 3px;
    }
    .developments-item .right-devel .container-content-devel .users-list .user-list-item{
        width: 196px;
        margin-right: 20px;
    }
    .instit-list .instit-item{
        padding-top: 42%;
        width: 29%;
    }
}
@media screen and (max-width:1000px){
    .paid-options-content{
        text-align: center;
        .paid-options__item{
            display: inline-block;
            width:45%;
            float:none;
            margin-bottom: 30px;
        }
    }
    .horizontal-orientation-raklama.content-inst-element .item-event{
        width:50% !important;
    }
    .controls-page .content-inst-element .item-event{
        width: 31.3%;
    }
    .add-photo-area.place-photo{
        width:100%;
    }
    .lc-inputs .input{
        width:100%;
        float:none;
    }
    .lc-inputs .input.input-w100 {
        width: 100%;
    }
    .birthday-input{
        .clear{
            height: 20px;
        }
    }
    .lc-inputs .input{
        margin: 0 0; 
    }
    .lc-page .bg-left-col.overlay-bg:before{
        width:260px;
    }
    .lc-navigation>a{
        margin-left:-60px;
    }
    .user-right-content.lc-right{
        padding-top:0;
    }
    .lc-page .bg-left-col {
        width: 330px;
    }
    .user-right-content.lc-right{
        margin-left:330px;
    }
    .right.subscribe-ist{
        float:none;
        text-align: center;
        margin-top:-10px;
        margin-bottom: 15px;
    }
    .left-column-content .big-image-user .hover-content .button{
        padding: 5px 0;
    }
    .left-column-content .big-image-user .hover-content{
        padding: 23px 10px;
    }
    .user-photos{
        margin:0 -2%;
        &>a{
            width:46%;
            display: block;
            float:Left;
            padding-top:46%;
            height:0;
            margin:2% 2%;
        }
    }
    .left-column-content .table-info{
        tr{
            display: block;
            padding:3px 0;
            td{
                display: block;
                width:100%;
                &:nth-child(2){
                    font-size: 12px;
                    margin-top:-2px;
                }
            }
        }
    }
    .left-column-content, .bg-left-col{
        width:260px;
    }
    .left-column-content{
        padding:12px;
    }
    .user-right-content .user-content-box{
        padding:15px;
    }
    .user-right-content{
        padding-top:15px;
    }
    .images-block .image-block.size-w-3{
        width: 50%;
        padding-top: 33%;
    }
    .wrapper-inst-cont-item{
        .images-block{
            .image-block{
                &:nth-child(3){
                    display: none;
                }
            }
        }
    }
    .content-inst-element .body-events{
        .item-event{
            width:31%;
            &:nth-child(4){
                display: none;
            }
        }
    }
    .user-right-content .images-block{
        .image-block.size-w-4{
            width:50%;
            padding-top:33%;
        }
        .image-block.size-w-2{
            width:100%;
            padding-top:60%;
        }
    }
}
@media screen and (max-width:900px){
    .inputs-group-1 
    table{
        tr{
            display: block;
            td{
                width:50%;
                float:left;
                padding-right: 0 !important;
                display: block;
                &:nth-child(3){
                    clear: both;
                    display: block;
                }
            }
        } 
    }
}
@media screen and (max-width:860px){
    .inst-item__left{
        .params{
            .tooltip-content{
                display: none;
            }
        }
    }
    .socials-accounts>a{
        width:100%;
        box-sizing: border-box;
    }
    .gallery-photos-more .images-block .image-block.size-w-6{
        width:25%;
        padding-top:18%;
    }
    .content-inst-element .body-events{
        padding:0 !important;
    }
    .content-inst-element{
        padding:20px 0;
        &>.container-content{
            padding: 0 16px;
        }
    }
    .inst-item__right{
        padding-left:0;
    }
    .inst-item__right{
        &>div{
            &>.right{
                float:none;
                text-align: center;
            }
        }
    }
    .inst-item__right .params{
        float:none;
        .param-item{
            float:none;
        }
    }
    .locations-company .item .icon-inst{
        float:none;
        display: inline-block;
        position: relative;
        top:-1px;
        vertical-align: top;
    }
    .inst-item__left>div.socials{
        &>a{
            display: inline-block;
            float:none;
        }
    }
    .locations-company .item span{
        padding-left:0;
        display: inline-block;
        
    }
    .inst-item__left .company-logo-name .text{
        padding-left:0;
        
    }
    .inst-item__left .company-logo-name .logo-company{
        display: inline-block;
        float:none;
        width:80px;
        height:80px;
    }
    .inst-item{
        padding-top:15px;
    }
    .inst-item__left{
        width:100%;
        float:none;
        &>div{
            display: block;
            text-align: center;
        }
    }
    .developments-item .left-devel{
        width:180px;
        padding: 34px 20px;
    }
    .developments-item .left-devel h1{
        margin-bottom: 12px;
        font-size: 19px;
    }
    .developments-item .right-devel .comments .user-block{
        &>div{
            display: block;
            float:none;
            .comment-date{
                padding-left: 62px;
            }
        }
    }
    .last-events .body-events.two-colors:before{
        display: none;
    }
    .developments-item:after{
        width:220px;
    }
    .developments-item .right-devel {
        padding-left: 220px;
    }
    .developments-events .body-events .date-title{
        color:white;
        padding-top: 20px;
    }
    .two-colors{
        .owl-nav{
            top:auto !important;
            bottom: -55px;
            left:50% !important;
            margin-left:-41px;
            &>div{
                width:39px;
                height:39px;
                display: inline-block;
                opacity: 0.5;
                cursor: pointer;
                transition: all 0.3s;
                background-image: url(/img/slider-nav.png);
                &.owl-next{
                    background-position: -39px 0;
                }
                &.owl-prev{
                    background-position: 0 0;
                }
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
    .developments-events .body-events .date-title{
        margin-bottom: 14px;
    }
    header .account .close:before{
        content: url(/img/close-white.png);
    }
    .main-image.main-image-have-content{
        min-height: 500px;
    }
    .main-image h1{
        font-size: 30px;
    }
    .city-select .cityes-wrap .column{
        width:33%;
    }
    .last-events .head-events{
        position: relative;
        width:100%;
        top:0;
        padding:20px 35px;
    }
    .main-image{
        min-height: 200px;
    }
    .last-events .body-events{
        padding: 0px 35px 40px;
    }
    .last-events .body-events .owl-nav{
        top: -50px;
    }
    body{
        padding-top:52px;
    }
    header .account a{
        color:white !important;
    }
    header{
        position: fixed;
        top:0;
        left:0;
        right:0;
        
        z-index: 10;
        padding-top: 0px;
        padding-bottom: 0px;
        .headline-block{
            background: rgba(0,0,0,0.85);
            padding-top: 18px;
            padding-bottom: 14px;
        }
        .mobile-overlay{
            position: absolute;
            top:52px;
            bottom:0;
            right:0;
            left:0;
        }
        .mobile-block{
            position: absolute;
            top: 52px;
            left:0;
            z-index: 4;
            bottom: 0;
            width: 300px;
            background: rgba(0, 0, 0, 0.66);
            overflow: auto;
            transition: all 0.3s;
            padding: 20px 0;
            .city{
                display: block !important;
                font-size: 14px;
                padding:3px 0;
                padding-right: 8px;
            }
            .nav{
                a{
                    display: block;
                    color:white;
                    text-decoration: none;
                    font-size: 15px;
                    padding:4px 0;
                }
            }
        }
        &.active{
            bottom:0;
            .mobile-block {
                 display: block; 
            }
        }
    }
    .button-hamburger {
        float: left;
        cursor: pointer;
        margin-top: -13px;
        margin-right: 17px;
        margin-bottom: -14px;
    }
    .header nav{
        display: none;
    }
    .button-hamburger>div{
        width: 35px;
        height: 3px;
        background-color: #fff;
        margin: 8px 0;
        transition: .2s;
    }
    .active .button-hamburger>div:nth-child(1) {
        transform: rotate(-45deg) translate(-8px,7px);
    }
    .active .button-hamburger>div:nth-child(2) {
        opacity: 0;
    }
    .active .button-hamburger>div:nth-child(3) {
            transform: rotate(45deg) translate(-8px,-8px);
    }

    .blocks-index .blocks-col>div{
        box-shadow: 0 0 0;
    }
    .content.content-index--not-auth>div{
        position: relative;
        left: 0;
        right: 0;
        overflow: hidden;
        top: 0;
    }
    .blocks-index{
        height:auto;
        .blocks-col{
            height:auto;
        }
    }
    .blocks-index{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    .blocks-index .blocks-col{
        &>div{
            width:100%;
            display: block;
            height:auto;
            text-align: center;
            padding:15px 0;
        }
    }
    .instit-list .instit-item .name-and-params .params{
        display: none;
    }
    .instit-list .instit-item-container{
        margin:14px;
    }
    .instit-list .instit-item .name-and-params .name{
        font-size: 14px;
    }
    .instit-list .instit-item-container .rating-cif{
        font-size: 15px;
    }
    .instit-list .instit-item-container .rating-text{
        display: none;
    }
}
@media screen and (max-width:800px){
    .add-gallery{
        .radiobox input[type=radio]:checked+div i {
            border: 1px solid #fff;
            box-shadow: 0 0 0 5px #fff inset;
        }
    }
    .paid-options:after{
        display: none;
    }
    .paid-options__item:hover{
        background:#111;
    }
    .paid-options-content{
        margin:0;
    }
    .paid-options-content .paid-options__item{
        width:100%;
        margin:0;
        margin-bottom: 30px;
    }
    .paid-options-content{
        padding: 0 15px 37px;
    }
    .afisha-photos>.afisha-photo{
        width:46%;
    }
    .my-place-edit{
        .checkbox{
            input[type=checkbox]:checked+div i{
                background: url(/img/chekMainImage-black.png) center no-repeat #fff;
                background-size: 8px 8px;
                border: 1px dashed #fff;
            }
        }
    }
    .form-upload{
        & + .btn-type-c{
            float:none;
            margin:0 auto;
            margin-bottom: 30px; 
        }
    }
    .controls-page{
        .left, .right{
            clear: both;
            float:none;
        }
    }
    .my-place-edit{
        .input .tags .tag{
            border:1px solid;
        }
    }
    .my-place-edit>div:nth-child(2) .form-upload {
        padding-top: 0px;
    }
    .inputs-group-1 table, .inputs-group-2 table{
        display: table;
        tr{
            display: table-row;
            td{
                display: table-cell;
                width:auto;
                float:none;
            }
        }
    }
    .inputs-group-2 table tr td:nth-child(1) {
        width:auto;
    }
    .inputs-group-2 table tr td:nth-child(5), .inputs-group-2 table tr td:nth-child(6) {
        width: auto;
        text-align: center;
        padding-top: 0px;
    }
    .inputs-group-2 table tr td:nth-child(4){
        padding-right: 10px;
    }
    .inputs-group-2 table tr td:nth-child(5){
        padding-right: 10px;
    }
    .add-gallery>div, .my-place-edit>div{
        width:100%;
        float:none;
        padding:15px;
        padding-bottom: 30px;
        color:white !important;
        .breadcrumbs.black-brdc, .breadcrumbs.black-brdc a{
            color:white;
        }
        .add-photo-area .title-s{
            color:white;
        }
        h2{
            color:white;
        }
        .input.gray p{
            color:white;
        }
        input, textarea{
            background:none;
        }
        .selectric{
            background:none;
        }
        .selectric-hover .selectric{
            border-color:white;
        } 
        .input.gray input:hover, .input.gray textarea:hover{
            border-color:white;
        }
    }
    .add-gallery>div:nth-child(2) .form-upload,{
        padding-top:0;
        padding-bottom: 30px;
    }
    .controls-page .selectric-selector-type-2{
        margin-top:12px;
    }
    .users-list-page .user-list-item:nth-child(3n+1) {
        clear: none;
    }
    .users-list-page .user-list-item:nth-child(2n+1) {
        clear: both;
    }
    .two-colors-userpage{
        .selects-area-right-half{
            top:-150px;
            width:100%;
        }
    }
    .users-list-page .user-list-item .name-user i{
        background-size: 100%;
        width: 16px;
        height: 11px;
        top: 0px;
    }
    .two-colors{
        &:before{
            display: none;
        }
        .text-b{
            color:white;
        }
        &.two-colors-userpage{
            .text-b{
                color:black;
            }
        }
    }
    .users-list-page .user-list-item{
        width:50%;
    }
    .search-area-white-half{
        width:100%;
        height: 78px;
        top: -78px;
    }
    .fullHeighetImage .buttons-switch{
        bottom: 90px;
        right: 50%;
        transform: translate(50%,0%);
        -moz-transform: translate(50%,0%);
        -webkit-transform: translate(50%,0%);
        -o-transform: translate(50%,0%);
        -ms-transform: translate(50%,0%);
        white-space: nowrap;
    }
    .controls-page .content-inst-element .item-event {
        width: 48%;
    }
}
@media screen and (max-width:730px){
    .left-column-content .big-image-user .hover-content .button.open-modal-miniature-edit{
        display: none;
    }
    .left-column-content .big-image-user .hover-content .button{
        padding: 22px 0;
    }
    .banner-slider{
        display: none;
    }
    .horizontal-orientation-raklama.content-inst-element .item-event{
        width:100% !important;
    }
    .user-right-content.lc-right{
        margin-left:0;
    }
    .socials-accounts>a{
        width:auto;
    }
    .bg-left-col-mobile{
        display: block;
    }
    .left-column-content .big-image-user .hover-content{
        opacity: 1;
    }
    .left-column-content .big-image-user .hover-content .view-fullsize {
        box-shadow: 1px -2px 2px rgba(0, 0, 0, 0.06);
    }
    .left-column-content{
        width:100%;
        float:none;
        //color:black;
        a{
            //color:black;
        }
        .title-s{
            text-align: center;
        }
        background:white;
        .user-photos{
            overflow: hidden;
            margin:0 -1%;
            &>a{
                width:23%;
                padding-top:23%;
                margin:1%;
            }
        }
    }
    .user-right-content{
        background:#f8f8f8;
        width:100%;
    }
    .left-column-content .table-info{
        max-width:350px;
        margin:0 auto;
        tr{
            display: table-row;
            td{
                display: table-cell;
                //max-width: 50%;
                //width: 50%;
                a{
                    //color:black;
                }
            }
        }
    }
    .main-image.full-height-image.main-image-have-content-2>.fullHeighetImage{
        min-height: inherit;
    }
    .left-column-content .big-image-user{
        width:235px;
        height:235px;
        padding-top:0;
        margin:0 auto;
    }
    .left-column-content .name{
        //color:black;
        text-align: center;
    }
    .bg-right-col{
        display: none;
    }
    .left-column-content .breadcrumbs{
        //color:black;
        text-align: center;
        a{
           // color:black;
        }
    }
    .bg-left-col{
        display: none !important;
    }
    .content-inst-element .body-events .item-event{
        width:48%;
    }
    .content-inst-element .body-events .item-event:nth-child(3){
        display:none;
    }
    .instit-list .instit-item{
        padding-top: 55%;
        width: 46%;
    }
    .people-lables{
        overflow: hidden;
        max-height: 39px;
        display: none;
    }
    .bottom-absolute-container .controls{
        top: -14px;
    }
    .main-image.full-height-image.main-image-have-content .fullHeighetImage{
        position: relative;
        min-height: 100vh;
    }
    .authform{
        margin-bottom: 50px;
    }
    .view-image-modal .container-content{
        padding-top:16px;
        .left, .right{
            float:none;
            text-align: center;
            &.left{
                display: none;
            }
        }
    }
    .view-image-modal .controls {
        bottom: 19px;
    }
    .view-image-modal .socials{
        text-align: center;
        &>*{
            display: inline-block;
            float:none !important;
        }
        .likes, .share-title{
            position: relative;
            top:-16px;
        }
    }
    #register.authform .authform-modal>div>.input{
        width:100%;
    }
    header .city{
        display: none;
    }
    .authform-modal>div{
        width:100%;
    }
    #auth .authform-modal:before{
        display: none;
    }
    .authform{
        position: relative;
    }
    #auth .authform-modal>div:nth-child(2){
        position: relative;
        &:before{
            content:'';
            display: block;
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            background:black;
        }
    }
    .social-auth {
        margin-top: 17px;
    }
    .authform-modal{
        width:94%;
    }
    .authform{
        left: 0%;
        top: 0%;
        transform: translate(0%,0%);
        -moz-transform: translate(0%,0%);
        -webkit-transform: translate(0%,0%);
        -o-transform: translate(0%,0%);
        -ms-transform: translate(0%,0%);
        padding-bottom: 30px;
        padding-top:20px;
    }
    .text-afterform{
        max-width: 80%;
        margin:0 auto;
        padding-top:10px;
    }
    .main-image-have-content{
        height: auto;
    }
    .main-image.main-image-have-content{
        min-height: 100vh;
    }
    .fullHeighetImage.map-page{
        position: absolute !important;
    }
}
@media screen and (max-width:640px){
    .datepicker.dropdown-menu {
        margin-left: -35px;
    }
    .filter.two-button-fix.gallery-item-buttons{
        &>div{
            &:nth-child(1){
                margin-top:0;
            }
            &:nth-child(2){
                margin-top:0;
            }
        }
    }
    .images-block .image-block.shares-image-block .hover-block{
        &>div{
            left:10px;
            right:10px;
            top:49px;
        }
    }
    .inputs-group-1 table tr td:nth-child(3){
        display: table-cell;
    }
    .inputs-group-1 tr td:nth-child(2) {
        padding-right: 10px !important;
    }
    .inputs-group-2{
        table{
            display: block;
            tr{
                display: block;
                margin-bottom: 30px;
                td{
                    display: inline-block;
                    &:nth-child(1){
                        width:100%;
                    }
                    &:nth-child(5){
                        width:100%;
                        text-align:left;
                        padding-top: 10px;
                    }
                    &:nth-child(6){
                        width:100%;
                        text-align:left;
                        padding-top: 10px;
                    }
                }
            }
        }
    }
    .controls-buttons{
        top:14px;
        right:10px;
    }
    .developments-item .right-devel .comments .user-block>div .comment-date{
        padding-left:0;
        clear: both;
        margin-top: 10px;
    }
    .lc-navigation>a{
        margin-left:0;
        i{
            border-radius: 2px 0 0 2px;
        }
    }
    .gallery-photos-more .images-block .image-block.size-w-6{
        width:33.3333%;
        padding-top:23%;
    }
    .gallery-photos-more .imges-list{
        padding: 48px 26px;
    }
    .gallery-photos-more .imges-list .close{
        right:26px;
    }
    .developments-item .left-devel{
        width:100%;
        float:none;
        background: white;
        box-sizing: border-box;
        overflow: hidden;
    }
    .left-devel .company-block .image{
        margin-right: 10px;
    }
    .developments-item .left-devel .table-info{
        width:auto;
    }
    .banner-slider{
        clear: both;
        display: none;
        width:100%;
        margin:0 auto;
        padding-top:30px;
    }
    .developments-item .right-devel .container-content-devel{
        padding: 20px;
    }
    .developments-item .right-devel{
        padding-left:0;
    }
    .developments-item .right-devel{
        .button-type-b.min-w{
            width:100%;
            max-width: 360px;
            float:none;
            margin:0 auto;
            display: block;
        }
    }
    .developments-item:after{
        display: none;
    }
    .developments-item .left-devel .main-dev-img{
        width:243px;
        float:left;
        margin-right: 20px;
    }
    .filter .filter-button{
        top:0px;
        height:52px;
        width:52px;
        right:@padding-mobile;
        margin:0;
        left:auto;
        z-index: 10;
        &:before, &:after{
            display: none !important;
        }
    }
    
    .filter.two-button-fix{
        &>div{
            &:nth-child(1){
                right: 83px;
                margin-top: 0;
            }
        }
    }
    .haveButton-fix{
        .account{
            margin-right: 60px;
        }
    }
    .haveButton-fix.two-buttons .account {
        margin-right: 117px;
    }
    .comments .reply-to-comment{
        padding-left:15px;
    }
    .images-block .image-block.text-size .text{
        box-sizing: border-box;
        float: none;
        width: auto;
        margin-left: 25px;
    }
    .images-block .image-block.text-size{
        display: block;
    }
    .images-block .image-block.text-size .image{
        width:100%;
        height:250px;
    }
    .user-box-text{
        display: none !important;
    }
    .images-block .image-block{
        .button-type-b {
            padding: 4px 7px;
            top: 10px;
            left: 10px;
        }
        .viewers{
            top: 10px;
            right: 10px;
            margin-top: 3px;
        }
        .user-text-image{
            left:10px;
            bottom: 10px;
            right:10px;
        }
    }
    .content .title-content {
        padding: 20px 0 20px;
    }
    .container-content{
            padding: 0 @padding-mobile;
    }
    footer{
        background:black;
        text-align: center;
    }
    footer .development, footer .development a{
        color:white;
    }
    footer .development{
        float:none;
        width:100%;
        clear: both;
         padding-bottom: 10px;
    }
    footer .copyright{
        float:none;
        width:100%;
        clear: both;
       
    }
    footer .feedback{
        display: inline-block;
        float:none;
        margin-top: -15px;
    }
    .modal .black-wrap{
        width:auto;
    }
    .modal .modal-inner{
        min-width: inherit;
    }
}
@media screen and (max-width:560px){
    
    .content-inst-element .menu-slider .owl-controls .owl-prev{
        margin-left:-15px;
    }
    .content-inst-element .menu-slider .owl-controls .owl-next{
        margin-right:-15px;
    }
    .users-list-page .user-list-item:nth-child(2n+1) {
        clear: none;
    }
    .users-list-page .user-list-item{
        clear: both;
    }
    .users-list-page .user-list-item{
        width:100%;
    }
    .inst-item{
        padding: 15px 15px 0;
    }
    .inst-item__right .description-company{
        max-height: 400px;
        overflow: hidden;
    }
    .inst-item__right .description-company-text{
        max-height: 300px;
        overflow: hidden;
        position: relative;
        margin-bottom: 10px;
        &:after{
            content:'';
            display: block;
            position: absolute;
            bottom:0;
            left:0;
            right:0;
            height:50px;
            background: linear-gradient(to bottom,rgba(255,255,255,0) 0,#e6e5e4 100%);

        }
    }
    .inst-nav{
        padding: 18px 0;
        a{
            padding: 5px 10px;
            white-space: nowrap;
            //border: 1px solid #000;
            border-radius: 3px;
            display: inline-block;
            margin: 2px;
            &:after{
                display: none !important;
            }
        }
    }
    .inst-item__right .description-company{
        padding:15px;
    }
    .wrapper-inst-cont-item{
        .images-block{
            .image-block{
                &:nth-child(2){
                    display: none;
                }
            }
        }
    }
    .images-block .image-block.size-w-3, .images-block .image-block.size-w-2{
        width: 100%;
        padding-top: 66%;
    }
    .comment-item{
        .user-block{
            .right{
                float:none;
            }
            .left{
                float:none;
            }
        }
        .comment-date{
            clear: both;
            padding-top: 5px;
        }
    }
    .comments .comment-write{
        .textareawrap {
            margin-left:0;
            textarea{
                text-align: center;
            }
        }
        .user-icon-box{
            float:none; 
            margin:0 auto;
            margin-bottom: 15px;
        }
        .right{
            float:none;
        }
        .btn-type-c{
            width:100%;
            margin-top: 10px;
        }
    } 
    .comments .reply-to-comment .reply-wrap{
        padding: 15px;
    }
    .comments{
        padding-bottom: 20px;
    }
    .developments-item .left-devel .main-dev-img{
        width:200px;
    }
    .developments-item .left-devel{
        text-align: center;
        .company-block{
            display: inline-block;
            text-align: left;
        }
        .table-info{
            margin:0 auto;
        }
        .socials>a{
            float:none;
            display: inline-block;
        }
    }
    .developments-item .left-devel h1{
        text-align: center;
    }
    .afisha-photos>.afisha-photo{
        width:96%;
    }
}
@media screen and (max-width:560px) and (min-width:500px){
    .developments-item .left-devel .table-info{
        display: block;
        tr{
            display: block;
            margin-bottom: 5px;
            td{
                display: block;
                margin-bottom: -3px;
            }
        }
    }
    .deve-page{
        .developments-item .left-devel{
            text-align: left;
        }
    }
}
@media screen and (max-width:500px){
    .search-area-white-half input[type=text]{
        color:white;
    }
    .haveButton-fix.two-buttons .account{
        margin-right: 104px;
        .username{
            font-size: 0;
            height:10px;
        }
        .user-icon{
            margin-right: 3px;
        }
    }
    .body-events.content-inst-element{
        margin-bottom: 30px !important;
    }
    .paddings-controls-page-element.have-selectors .right .selectric-wrapper{
        display: block;
        width:100%;
    }
    .selectric-selector-type-2 .selectric{
        width:100%;
    }
    .controls-page-right-text{
        display: block;
        margin-bottom: 10px;
        & + .button-type-b{
            margin-bottom: 7px;
        }
    }
    .controls-page-right-text i{
        display: block;
    }
    .paid-options__item:hover{
        background: black;
    }
    .controls-page .content-inst-element .item-event {
        width: 98%;
    }
    .controls-page .item-event{
        margin-bottom: 1%;
    }
    .inputs-group-1 table{
        tr{
            display: block;
            td{
                width:50%;
                float:left;
                box-sizing: border-box;
                padding-right: 0 !important;
                display: block !important;
            }
        } 
    }
    .inputs-group-1 .input-wrap{
        width:100%;
    }
    .inputs-group-1 tr td:nth-child(2) {
        padding-right: 0px!important;
    }
    .my-place-edit{
        .btn-type-c{
            width:100%;
        }
    }
    
    .form-upload{
        & + .btn-type-c{
            width:100%;
        }
    }
    .search-area-white-half{
        background: #0e0e0e;
        top: -35px;
        height: 66px;
        input[type="text"]{
            background-color: transparent;
        }
    }
    .selects-area-right-half .select:nth-child(1){
        width:100%;
        margin-bottom: 7px;
    }
    .selects-area-right-half .select:nth-child(2){
       width:48%;
        margin-right: 4%;
        margin-left:0;
    }
    .selects-area-right-half .select:nth-child(3){
       width:48%;
    }
    .users-list-page .user-list-item .name-user{
        color:white;
        i{
            background-image: url(/img/photo-icon-white.png);
        }
    }
    .two-colors-userpage .selects-area-right-half{
        top:-152px;
    }
    .two-colors.two-colors-userpage .text-b{
        color:white;
    }
    .fullHeighetImage .buttons-switch{
        bottom:45px;
    }
    .two-colors{
        background: #0e0e0e;
    }
    .content-wrap-padding-1{
         padding: 40px 0px 50px;
        .right{
            float:none;
            width:100%;
            .btn-type-c{
                width:100%;
                box-sizing: border-box;
            }
        }
    }
    .instit-list .instit-item{
        width: 96%;
        margin-bottom: 15px;
    }
    .developments-item .left-devel .main-dev-img{
        width:100%;
        margin-right: 0;
        margin-bottom: 15px;
    }
    .developments-item .left-devel .title{
        clear: both;
    }
}
@media screen and (max-width:460px){
    .datepicker.dropdown-menu {
        margin-left: -15px;
    }
    .socials-accounts>a{
        width:100%;
        box-sizing: border-box;
    }
    .content-inst-element .body-events .item-event:nth-child(2){
        display: none;
    }
    .content-inst-element .body-events .item-event{
        width:98%;
    }
    
    .search-area-white-half{
        padding: 20px 0;
        box-shadow: 0px 0px 0px 2px #0e0e0e;
    }
    .date-buttons{
        left:16px;
    }
    .city-select{
        height: auto;
        bottom:0;
        .cityes-wrap{
            left: 16px;
            right:16px;
        }
    }
    .blocks-index{
        display: block;
    }
    .view-image-modal .socials{
        .share-title{
            display: none;
        }
        .likes{
            float: left !important;
            top: 2px;
        }
        &>*{
            float:right !important;
        }
    }
    .view-image-modal .image-container:after, .view-image-modal .image-container:before{
        height: 90px;
    }
    #register .center{
        padding: 0 24px;
    }
    #register .input .btn-type-c{
        width:100%;
    }
    .city-select .cityes-wrap .column{
        width:100%;
    }
    .modal .modal-inner .btn-type-c{
        width:100%;
        box-sizing: border-box;
    }
    header .account a{
        color:white;
        &:hover{
            color: white;
        }
    }
    .blocks-index .blocks-col{
        padding:20px 0;
        width:100%;
        min-height: 50vh;
        box-sizing: border-box;
    }
    .content.content-index--not-auth.one-half-other-bg>div .one-half-other-bg__image{
        top:50%;
        width:100%;
        height:50%;
        bottom:0;
        top:auto;
    }
    body.one-half-white:before{
        display: none;
    }
    .last-events .body-events {
        padding: 0 15px 40px;
    }
    .last-events .head-events{
        padding: 20px 15px;
    }
    .main-image h1{
        font-size: 25px;
        line-height: 28px;
    }
    .last-events .head-events .title{
        text-align: center;
        padding-bottom: 40px;
    }
    .last-events .body-events .owl-nav {
        top: -50px;
        left: 50%;
        right: auto;
        margin-left: -41px;
    }
    header .account{
        margin-left:5px;
    }
    header .logo{
        margin-right: 5px;
    }
    .selectric-selector-type-2 .selectric{
        width:100%;
    }
}
@media screen and (max-width:400px){
    .company-name-baloon{
        margin-top:16px;
    }
    .baloon-wrap .head-baloon{
        width:auto;
    }
    .baloon-wrap .body-baloon{
        width:auto;
        min-width: 208px;
    }
    .gm-style>div>div>div .gm-style-iw+div{
        right:13px !important;
    }
    .paid-options__item{
        padding:25px 10px;
    }
    .afisha-user .last-events .body-events{
        width:100%;
        float:none;
    }
    .paddings-controls-page-element{
        padding:15px;
    }
    .user-list-control{
        padding: 5px 10px;
        .user-list-item{
            padding: 5px 0px;
        }
    }
    .button-type-b.btn-large{
        width:100%;
    }
    .map-page .map-wrap .map-box .locations-company{
        display: none;
    }
}
@media screen and (max-width:360px){
    .filter.two-button-fix>div:nth-child(1){
        right:66px;
    }
    .right-column-content .add-photo-area{
        width:100%;
    }
    .gallery-photos-more .imges-list{
        padding: 48px 11px;
    }
    .gallery-photos-more .imges-list .close{
        right:11px;
    }
    .stars-rating .stars{
        width: 200px;
        background-size: 20px;
        height: 15px;
        &>div{
            width: 20px;
            background-size: 20px;
            float: left;
            height: 15px;
        }
    }
    .modal .modal-inner{
        margin: 0 11px;
    }
    .fullHeighetImage .buttons-switch{
        white-space: normal;
        right:0;
        transform: translate(0%,0);
        -moz-transform: translate(0%,0);
        -webkit-transform: translate(0%,0);
        -o-transform: translate(0%,0);
        -ms-transform: translate(0%,0);
        width:90%;
        right:5%;
        .button-type-b{
            width:100%;
            margin-top: 5px;
        }
    }
    .haveButton-fix header{
        .logo{
            display: none;
        }
    }
    .filter .filter-button{
        right:@padding-small;
    }
    header .mobile-block, header .mobile-block{
        width:100%;
        right:0;
    }
    .container-content{
            padding: 0 @padding-small;
    }
    .content h3{
        font-size: 16px;
    }
    .authform-modal>div{
        padding:15px;
    }
    .social-auth a{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .datepicker.dropdown-menu {
        margin-left: -1px;
    }
}

/*Height responsive*/
@media screen and (max-height:560px){
    .view-image-modal .container-content{
        padding-top: 16px;
    }
    .view-image-modal .controls{
        bottom:19px;
    }
}
@media screen and (max-height:400px){
    .content-bottom-main-image{
        &.main-image .uk-flex .center-block{
            margin-bottom: 60px;
        }
    }
}