@font-face {
    font-family: "RalewayRegular";
    src: url("/fonts/Raleway/Raleway-v4013-Regular.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RalewayLight";
    src: url("/fonts/Raleway/Raleway-v4013-Light.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RalewayLightItalic";
    src: url("/fonts/Raleway/Raleway-v4013-LightItalic.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RalewayBold";
    src: url("/fonts/Raleway/Raleway-v4013-Bold.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RalewayMedium";
    src: url("/fonts/Raleway/Raleway-v4013-Medium.otf");
    font-style: normal;
    font-weight: normal;
}
.font {
	font: 400 13px/20px 'RalewayRegular', "Helvetica Neue",Helvetica,Arial,sans-serif;
}
